<div class="user-form-page">
  <!-- Topbar -->
  <div class="topbar">
    <img src="assets/conexus-logo.png" alt="Conexus Logo" class="logo-left" />

    <div class="actions">
      <button mat-raised-button color="primary" routerLink="/admin/users">
        <mat-icon>arrow_back</mat-icon>
        Volver a Usuarios
      </button>
    </div>
  </div>

  <!-- Watermark central -->
  <div class="watermark"></div>

  <!-- Contenido principal centrado -->
  <div class="content">
    <div class="user-form mat-elevation-z4">
      <h2>{{ isEdit ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>

       <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Código Usuario</mat-label>
          <input matInput formControlName="cod_usuario" maxlength="20" [readonly]="isEdit" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre Usuario</mat-label>
          <input matInput formControlName="nomb_usuario" maxlength="60" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Empresa / Banco</mat-label>
          <mat-select formControlName="banco">
            <mat-option *ngFor="let b of bancos" [value]="b.codigoABA">{{ b.descripcion }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Estatus</mat-label>
          <mat-select formControlName="estatus">
            <mat-option value="A">Activo</mat-option>
            <mat-option value="I">Inactivo</mat-option>
            <mat-option value="E">Eliminado</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Perfil asociado</mat-label>
          <mat-select formControlName="codigoPerfilAsociado">
            <mat-option *ngFor="let p of perfiles" [value]="p.codigoPerfil">{{ p.descripcion }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Clave (opcional)</mat-label>
          <input matInput type="password" formControlName="clave" />
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isSaving">
            {{ isSaving ? 'Guardando...' : 'Guardar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
